In [2]:
data = ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]

In [3]:
#task1- add five names, one by one, to the existing list of 15 students.

only5 = 1
while only5 < 6:
    newName = input('Enter the new name')
    data.append(newName)
    only5 += 1
print(data)

Enter the new nameMarcos
Enter the new nameBilly
Enter the new nameBob
Enter the new nameJoe
Enter the new nameShmo
['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'Marcos', 'Billy', 'Bob', 'Joe', 'Shmo']

In [31]:
#task2 - check the names of the five students who signed up later. Print the names of all the students in the list in reverse order.

#print(data[::-1])

data.reverse()
print(data)

['Shmo', 'Joe', 'Bob', 'Billy', 'Marcos', 'Mark Antony', 'Alexanderia Peterson', 'Katy Perry', 'Alexander Thomas', 'Joe Cook', 'Kenny Peterson', 'Mark Thomas', 'Matt Antony', 'Lily Jason', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Bret Lee', 'John Chan', 'Mark Antony']

In [30]:
#task3- Perform Task 2 again, without using the built-in method for reversal in Python
for i in data[::-1]:
    print(i)

Shmo
Joe
Bob
Billy
Marcos
Mark Antony
Alexanderia Peterson
Katy Perry
Alexander Thomas
Joe Cook
Kenny Peterson
Mark Thomas
Matt Antony
Lily Jason
Florida Thomson
Janice Ken
Jim Nick
Bret Lee
John Chan
Mark Antony

In [36]:
#task4- check for any duplicate entries in the list of 20 student names. 
#Create a new list named final_list that does not repeat any of the names.
final_list = []
for i in data:
    if i not in final_list:
        final_list.append(i)
    else:
        print("The name",i, "is a duplicate \n")
        #print("The name",data[i], "is a duplicate")
print("The new list is: \n\n",final_list)

The name Mark Antony is a duplicate

The new list is:

 ['Shmo', 'Joe', 'Bob', 'Billy', 'Marcos', 'Mark Antony', 'Alexanderia Peterson', 'Katy Perry', 'Alexander Thomas', 'Joe Cook', 'Kenny Peterson', 'Mark Thomas', 'Matt Antony', 'Lily Jason', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Bret Lee', 'John Chan']

In [37]:
#task5- display the names of the students from final_list in alphabetical order

final_list.sort()
print(final_list)

['Alexander Thomas', 'Alexanderia Peterson', 'Billy', 'Bob', 'Bret Lee', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Joe', 'Joe Cook', 'John Chan', 'Katy Perry', 'Kenny Peterson', 'Lily Jason', 'Marcos', 'Mark Antony', 'Mark Thomas', 'Matt Antony', 'Shmo']

In [44]:
#task6 - The students at the second, twelfth, and last position in final_list get selected in the Spell Bee competition
#save the names of these students in a different list and display them separately

firstpick = final_list[1]

secondpick = final_list[11]

thirdpick = final_list[-1]
print(f'{firstpick}, {secondpick} and {thirdpick} are selected for the spelling bee')

threename = []
threename.append(firstpick)
threename.append(secondpick)
threename.append(thirdpick)
print()
print(threename)

Alexanderia Peterson, Katy Perry and Shmo are selected for the spelling bee

['Alexanderia Peterson', 'Katy Perry', 'Shmo']

In [45]:
#task7- Write a program to count the number of integers between 555 and 678 that are divisible by 7.
list7 =[]


for i in range(555,678):
    if i % 7 == 0:
        list7.append(i)
        
print(list7)
print(f'There are {len(list7)} numbers in the range 555 to 678 that are divisible by 7')

[560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672]
There are 17 numbers in the range 555 to 678 that are divisible by 7

In [7]:
#task8- Write a Python program that prints the first 30 natural numbers but skips 
# all the numbers that are multiples of n. Accept the value of n as an input from the user 

num = int(input('Enter a number'))
list30 = []
for i in range(1,31):
    if i % num != 0:
        list30.append(i)
print(list30)

Enter a number4
[1, 2, 3, 5, 6, 7, 9, 10, 11, 13, 14, 15, 17, 18, 19, 21, 22, 23, 25, 26, 27, 29, 30]

In [4]:
#task9- Find the sum of the corresponding elements of firstlist and secondlist, 
# store them in a list named thirdlist, and print the result.

firstlist = [1, 21, 3, 4, 5, 6, 7, 18, 4]

secondlist = [19, 1, 17, 6, 15, 14, 13, 2, 11]

thirdlist = []

for i in range(0,len(firstlist)):
    thirdlist.append(firstlist[i] + secondlist[i])
               
print(thirdlist)

[20, 22, 20, 10, 20, 20, 20, 20, 15]